*
{
	margin: 0;
	padding: 0;
}

 .container{
	width:90%;
	max-width:960px;
	margin:auto;
}

body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
}

h1
{
	font-size:24px;
	font-weight:bold;
	line-height: 1.5em;
	text-align: center;
	margin: 25px 0;
	color: #567;
	line-height: 1.5em;
}

#quiz-form ol li
{
   margin: 0 0 20px 0;
}

#quiz-form ol li div {
   padding: 0px 0;
}

#quiz-form h3
{
   font-size: 18px;
   margin: 0 0 10 0;
   color: #567;
   line-height: 1.5em;
}

.button {
    background-color: #567;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
